.team {
    /* background-color: rgb(0, 0, 0); */
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team-section {
    margin-top: -12rem;
    margin-right: 25rem;
}

.team-two {
    margin-left: 10rem;
    margin-bottom: 10rem;
    margin-top: 9rem;
}

.team-two h3 {
    margin-top: 2.5rem;
    font-weight: 200;
}

.a_section {
    margin-top: 30rem;
}
