.header {
  background-color: #454b90;
  height: 7rem;
  // position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  // max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  // margin-bottom: 5rem;

  & nav {
    width: 100%;
    max-width: 1000px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .logo {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      cursor: pointer;
    }
  }

  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    & a p {
      color: #fff;
    }

    a p:hover{
      transform: translateY(-2px);
      transition-duration: 500ms;
    } 
  }
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}
