.header {
  background-color: #454b90;
  height: 7rem;
  // position: fixed;
  position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
    // border-bottom: 1px solid #2d452d;

  & nav {
    width: 100%;
    max-width: 1000px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .logo {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      cursor: pointer;
    }
  }
  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    & a p, p {
      color: #fff;
    }

    a p:hover, p:hover{
      transform: translateY(-2px);
      transition-duration: 500ms;
      cursor: pointer;
    } 

    
  }

}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}
