.footer {
    // background-color: #454b90;
    text-align: center;
    padding: 6rem 2rem;


    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div {
            display: flex;
            align-items: left;
            justify-content: center;
            flex-direction: column;
            padding: 2rem 0;

            & > a {
                color: black;
                text-align: left;
            }

            & > span {
                font-size: 25px;
            }

            & > span:hover {
                transform: scale(1.2);
                transition-duration: 600ms;
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
            }
        }
    }

    p {
        padding: 2rem 0 0 0;
    }
}