.intro {
    display: flex;
    margin-top: 7rem;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid;
    padding: 2rem 1.2rem;


    & > div h1 {
        text-align: center;
    }
    & > div p {
        padding: 1.2rem;
    }
    .intro-stats {
        display: flex;
        gap: 1.2rem;
        margin-top: 2em;
        padding: 1.2rem;
        text-align: center;
    }

    img {
        width: 300px;

        @media screen and (max-width: '800px') {
            display: none;
        }
    }
}